@font-face {
    font-family: 'Poppins-Bold', sans-serif;
    src: url('./assets/fonts/Poppins-Bold.ttf');
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



body {
    font-family: 'Poppins-Bold', sans-serif;
}