@font-face {
    font-family: Poppins-Bold;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    font-family: 'Poppins-Bold', sans-serif;
    background-color: rgba(240,240,240,255);
    display: grid;
    justify-content: center;
}

.grid-container {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 1em 1em 7em 1em;
}

.dob {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}