@font-face {
    font-family: Poppins-Bold;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}

body {
    font-family: 'Poppins-Bold', sans-serif;
    background-color: rgba(240,240,240,255);
}

.grid-container {
    background-color: white;
    border-radius: 1em 1em 7em 1em;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 60%;
    margin-left: 20%;
}

.dob {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    text-align: start;
    padding: 3em;
}

.dob p {
    color: rgba(121,121,121,255);
}

.dob input {
    height: 3.5em;
    width: 8em;
}

.day, .month, .year {
    width: 10em;

}

.results {
    text-align: start;
    padding: 3em;
}

.results span {
    color: rgba(134,76,255,255);
}

hr {
    opacity: 30%;
    width: 85%;
}

.line {
    height: 0px;
}

.line button {
 background-color: rgba(134,76,255,255);
 border-radius: 50%;
 border: none;
 height: 5em;
 width: 5em;
 cursor: pointer;
 position: relative;
 top: 3.3em;
 z-index: 1;
 left: 40%;
}

.attribution {
    font-size: 11px; text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}